@font-face {
  font-family: "SourceSansPro";
  src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: "SourceSansPro semibold";
  src: url('../fonts/SourceSansPro-SemiBold.ttf');
}
